h1{
    text-align: center;
}

#title{
    background-color: red;
}
.flex{
    display: flex;
    justify-content: space-around;
    background-color: red;
}

.bottone{
    text-align: center;
    background-color: red;
}